<nav class="navbar navbar-default navbar--mobile">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed navbar__menu-button" data-toggle="collapse" data-target="#navbar-collapse-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span>Menu</span>
      </button>
    </div>


    <div class="collapse navbar-collapse text-center" id="navbar-collapse-top">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Welcome', '/index.html' %></li>
        <li><%= link_to 'Services', '/services.html' %></li>
        <li><%= link_to 'Contact', '/contact.html' %></li>
        <li><%= link_to 'Links', '/links.html' %></li>
      </ul>
    </div>
  </div>
</nav>
