---
title: Algiers Investigations
subheader: Contact
hero_image: new_orleans_jackson_square.jpg
hero_image_alt: Jackson Square - New Orleans
---

<%= partial 'partials/navbar_mobile' %>

<%= partial 'partials/header' %>

<%= partial 'partials/navbar_desktop' %>

<%= partial 'partials/hero_image' %>

<main class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <p>
        If you have an unusual request for investigative work or a novel situation let us know and we can talk about which approach is best for you. Please contact us using one of the following options.
      </p>
      <ul>
        <li><a href="tel:504-261-0960">504-261-0960</a></li>
        <li><a href="mailto:timberkner@algiersinvestigations.com?subject=Can%20You%20Investigate?">timberkner@algiersinvestigations.com</a></li>
        <li>Fill out the contact form on this page</li>
      </ul>
    </div>
  </div>
</main>
