---
title: Algiers Investigations
subheader: Links
hero_image: new_orleans_jackson_square.jpg
hero_image_alt: Jackson Square - New Orleans
---

<%= partial 'partials/navbar_mobile' %>

<%= partial 'partials/header' %>

<%= partial 'partials/navbar_desktop' %>

<%= partial 'partials/hero_image' %>

<main class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <ul>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
        <li><a href="#">Link to Interesting things</a></li>
      </ul>
    </div>
  </div>
</main>
