---
title: Algiers Investigations
subheader: Links
hero_image: new_orleans_jackson_square.jpg
hero_image_alt: Jackson Square - New Orleans
---

<%= partial 'partials/navbar_mobile' %>

<%= partial 'partials/header' %>

<%= partial 'partials/navbar_desktop' %>

<%= partial 'partials/hero_image' %>

<main class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="entry-content">
        <p>
          <a href="http://www.laclaims.com/homepage.cfm/">Louisiana Claims Association</a><br />
          <a href="http://nopa.carrolltontech.com/">New Orleans Paralegal Association</a><br />
          <a href="http://www.lsbpie.com/">Louisiana State Board of Private Investigator Examiners</a>
        </p>

        <p>
          <a href="http://www.divorceinfo.com/lafaqs.htm"><br /> Louisiana Divorce FAQ</a><br />
          <a href="http://www.nolo.com/legal-encyclopedia/child-custody-faq-29054.html">Child Custody FAQ</a>
          <a href="http://www.childcustody.org/"><br /> Child Custody.org</a>
        </p>

        <h3>
          Are you hiring a private investigator or detective?
        </h3>
        <p>
          <strong><em>Check them out here first.</em></strong>
        </p>

        <p>
          ALABAMA <br>
          <a href="http://www.apia-online.com" target="_blank">Alabama Professional Investigator&#8217;s Association </a>
        </p>

        <p>
          ALASKA <br>
          <a href="http://www.akinvestigators.com/" target="_blank">Alaska Investigator&#8217;s Association</a>
        </p>

        <p>
          ARIZONA <br>
          <a href="http://www.aalpi.com/" target="_blank">Arizona Association of Licensed Private Investigators</a>
        </p>

        <p>
          CALIFORNIA <br>
          <a href="http://www.cali-pi.org" target="_blank">California Association of Licensed Investigators</a><br />
          <a href="http://www.pica-association.org" target="_blank">Professional Investigators or California<br />
          </a>
          <a href="http://www.laccdia.org/" target="_blank">Los Angeles County Criminal Defense Investigators Association<br />
          </a>
          <a href="http://www.scfia.org/" target="_blank">Southern California Fraud Investigators’ Association</a>
        </p>

        <p>
          COLORADO<strong> </strong> <br>
          <a href="http://www.ppiac.org/" target="_blank">Professional Private Investigators Association Of Colorado </a>
        </p>

        <p>
          CONNECTICUT <br>
          <a href="http://www.calpi.net/" target="_blank">Connecticut Association of Licensed Private Investigators</a>
        </p>

        <p>
          FLORIDA<strong> </strong> <br>
          <a href="http://www.myfapi.org" target="_blank">Florida Association of Private Investigators</a><br />
          <a href="http://www.fali.com/" target="_blank">Private Investigator&#8217;s Association Of Florida </a><br />
          <a href="http://www.webcircle.com/users/sfia/" target="_blank">South Florida Investigators Association </a>
        </p>

        <p>
          GEORGIA <br>
          <a href="http://www.gappi.org/" target="_blank"> Georgia Association of Professional Private Investigators<br />
          </a>
          <a href="http://www.ispag.us/" target="_blank">Investigative &amp; Security Professional Association of Georgia </a>
        </p>

        <p>
          IDAHO <br>
          <a href="http://www.PIAI.us" target="_blank">Private Investigators Association of Idaho</a>
        </p>

        <p>
          ILLINOIS <br>
          <a href="http://www.the-adi.com/" target="_blank">Associated Detectives &amp; Security Agencies of Illinois, Inc.</a>
        </p>

        <p>
          INDIANA <br>
          <a href="http://www.iapi.net/" target="_blank">Indiana Association of Professional Investigators<br />
          </a>
          <a href="http://www.indianainvestigators.com/" target="_blank">Indiana Society of Professional Investigators </a>
        </p>

        <p>
          IOWA <br>
          <a href="http://www.iowa-investigators.com/" target="_blank">Iowa Association Of Private Investigators</a>
        </p>

        <p>
          KANSAS <br>
          <a href="http://www.k-a-l-i.org/" target="_blank">Kansas Association of Licensed Investigators</a>
        </p>

        <p>
          KENTUCKY <br>
          <a href="http://www.kpia.org/" target="_blank">Kentucky Professional Investigators Association, Inc.<br />
          </a>
          <a href="http://www.kspi.org/" target="_blank">Kentucky Society of Professional Investigators</a>
        </p>

        <p>
          LOUISIANA <br>
          <a href="http://www.lpia.net/" target="_blank">Louisiana Private Investigators Association</a>
        </p>

        <p>
          MAINE <br>
          <a href="http://www.mlpia.org/" target="_blank">Maine Licensed Private Investigators Association </a>
        </p>

        <p>
          MARYLAND <br>
          <a href="http://www.maryland-investigators.com/" target="_blank">Professional Investigators Alliance of Maryland </a>
          </BR>
          <a href="http://www.misahq.com/" target="_blank">Maryland Investigators &amp; Security Association</a>
        </p>

        <p>
          MASSACHUSETTS <br>
          <a href="http://www.lpdam.com" target="_blank">Licensed Private Detectives Association of Massachusetts </a>
        </p>

        <p>
          MICHIGAN <br>
          <a href="http://www.mcpihome.com/" target="_blank">Michigan Council of Private Investigators </a>
        </p>

        <p>
          MINNESOTA <br>
          <a href="http://www.mapi.org" target="_blank">Minessota Association of Private Investigators</a>
        </p>

        <p>
          MISSOURI <br>
          <a href="http://www.mapi-inc.com/" target="_blank">Missouri Association of Private Investigators </a>
        </p>

        <p>
          NEBRASKA <br>
          <a href="http://www.nalpi.org/">Nebraska Association of Licensed Private Investigators</a>
        </p>

        <p>
          NEW ENGLAND <br>
          <a href="http://www.pimall.com/necosia/index.html" target="_blank">New England Council of State Investigator Associations</a>
        </p>

        <p>
          NEW HAMPSHIRE <br>
          <a href="http://www.nhli.net/" target="_blank">New Hampshire League of Investigators</a>
        </p>

        <p>
          NEW JERSEY <br>
          <a href="http://www.njlpia.org/" target="_blank">New Jersey Licensed Private Investigators Association, Inc.</a><br />
          <a href="http://www.njsia.org/" target="_blank">New Jersey Special Investigators Association</a>
          </BR><br /> NEW YORK
          <a href="http://www.aldonys.org" target="_blank">Associated Licensed Detectves of New York State<br />
          </a>
          <a href="http://www.spionline.org" target="_blank">Society of Professional Investigators </a>
        </p>

        <p>
          NORTH CAROLINA <br>
          <a href="http://www.ncapi.com/" target="_blank">North Carolina Association Of Private Investigators</a>
        </p>

        <p>
          OHIO <br>
          <a href="http://www.OhOASIS.com" target="_blank">Ohio Association of Security and Investigative Services</a><br />
          <a href="http://www.oia.homestead.com/oia.html" target="_blank">Ohio Investigators Association </a>
        </p>

        <p>
          OKLAHOMA <br>
          <a href="http://www.opia.com" target="_blank">Oklohoma Private Investigators Association </a>
        </p>

        <p>
          OREGON <br>
          <a href="http://www.oali.org/" target="_blank">Oregon Association of Licensed Investigators Inc. </a>
        </p>

        <p>
          PENNSYLVANIA <br>
          <a href="http://www.pali.org" target="_blank">Pennsylvania Association of Licensed Investigators </a>
        </p>

        <p>
          RHODE ISLAND <br>
          <a href="http://lpdari.org/" target="_blank">Licensed Private Detectives Association of Rhode Island </a>
        </p>

        <p>
          SOUTH CAROLINA <br>
          <a href="http://www.scalinv.com/" target="_blank">South Carolina Association of Legal Investigators</a>
        </p>

        <p>
          TENNESSEE <br>
          <a href="http://www.tpia.com" target="_blank">Tennesse Professional Investigator Association </a><br />
          <a href="http://www.taionline.org" target="_blank">Tennesse Association of Investigators </a>
        </p>

        <p>
          TEXAS <br>
          <a href="http://www.tali.org/" target="_blank">Texas Association of Licensed Investigators </a><br />
          <a href="http://www.ntpia.org/" target="_blank">North Texas Private Investigators Association</a>
        </p>

        <p>
          UTAH <br>
          <a href="http://www.piau.com" target="_blank">Private Investigator&#8217;s Association of Utah, Inc. </a>
        </p>

        <p>
          VERMONT <br>
          <a href="http://vaiss.org/" target="_blank">Vermont Association of Investigative and Security Services </a>
        </p>

        <p>
          VIRGINIA <br>
          <a href="http://www.piava.org/" target="_blank">Private Investigators Association of Virginia<br />
          </a>
          <a href="http://www.pisa.gen.va.us/" target="_blank">Professional Investigators and Security Association</a>
        </p>

        <p>
          WASHINGTON <br>
          <a href="http://www.pnai.com" target="_blank">Pacific Northwest Association of Investigators </a><br />
          <a href="http://www.WALI.org" target="_blank">Washington Association of Legal Investigators </a>
        </p>

        <p>
          WEST VIRGINIA <br>
          <a href="http://www.pispwv.org" target="_blank">Private Investigators and Security Professionals of West Virginia</a>
        </p>

        <p>
          WISCONSIN <br>
          <a href="http://www.pawli.com/" target="_blank">Professional Association Of Wisconsin Licensed Investigators </a>
          </br><br />
          <a href="http://www.pimagazine.com"><strong>Private Investigators Magazine &#8211; PI Magazine</strong></a><br>The magazine for Private Investigators, SIU Investigators, Police Detectives, and people learning the trade.
        </p>

        <p>
          <a href="http://www.legallanguage.com/"><strong>Legal Language Services</strong></a><br /> Language interpreting in over 150 languages. Specialists in international litigation.
        </p>

        <p>
          <a href="http://www.lawguru.com">Law Guru</a>
        </p>
      </div>
    </div>
  </div>
</main>
