---
title: Algiers Investigations
subheader: Services
hero_image: new_orleans_neighborhoods.jpg
hero_image_alt: New Orleans Neighborhoods
---

<%= partial 'partials/navbar_mobile' %>

<%= partial 'partials/header' %>

<%= partial 'partials/navbar_desktop' %>

<%= partial 'partials/hero_image' %>

<main class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <p>
        Investigative work, whether complex or relatively simple, doesn’t happen in a vacuum. Our investigators are lifetime or longtime residents of New Orleans and the gulf south and understand cultural practices and other factors that impact every kind of investigation.
      </p>

      <p>
        Conducting surveillance, finding witnesses or missing persons, and doing background research are very different in New Orleans than they would be in Boston, Los Angeles, or rural North Dakota. We can guarantee better results than our larger regional and national competitors because we know south and eastern Louisiana and southern Mississippi well; we know the streets, the quirks, the people, and the distinctive cultural habits.
      </p>

      <p>
        Listed below are our most commonly provided services, but if you don’t see something listed, give us a call anyways. One of our experienced investigators has experience and expertise in nearly every area of investigative work.
      </p>

      <div class="h3 text-center">Surveillance</div>

      <p>
        We conduct surveillance for workmen’s compensation and injury claims, for domestic and child custody cases, or for a variety of other reasons. Whether it’s deep in the country in Louisiana or Mississippi or in the heart of the French Quarter in NOLA our investigative team has the background and expertise to get results. The results of surveillance are obtained with old fashioned video cameras or a variety of hidden cameras, depending on the situation.  Every situation is different and we can tailor the type of surveillance to the specifics and the client’s wishes.
      </p>

      <div class="h3 text-center">Skip Tracing</div>

      <p>
        Skip tracing is locating a person who may not want to be found or may just be hard to find, having recently moved or for other reasons. You may have a witness who you can’t contact, a family member you want to reunite with after year or decades, or an individual ducking child support payments that you need to track down for a future subpoena or legal action. Using databases, social media, interviews, and good old deductive reasoning we can track down people who seem impossible to find.
      </p>

			<div class="h3 text-center">Background Investigations</div>


      <p>
        Whether it’s for personal, professional, or legal reasons we can conduct background investigations of varying comprehensiveness depending on the clients budget and wishes. You may want the subject’s criminal history, their history of involvement with personal injury lawsuits, or a broad overview of their legal, personal, and professional life. We can tailor your background investigation so that you get exactly what you want and don’t pay for information you don’t care about, so let us know!
      </p>

      <div class="h3 text-center">Subpoenas</div>

      <p>
      	We provide process service to individuals and registered agents throughout Louisiana and Mississippi.  In many cases sheriff’s offices are unable to serve individuals as they are actively ducking their subpoena or are difficult to track down for a variety of reasons.  We can use public records, social media, interviews and other tactics to locate and serve even the most difficult individuals. If you want to appoint a special process server we can get it done.
      </p>
    </div>
  </div>
</main>
